{% macro currency_box(form, field_label, field_name, field_value) %}
<div class="row mb-3">
    <label for="{{ field_name }}" class="col-sm-2 col-form-label">{{ field_label }}</label>
    <div class="col-sm-10">
        <input type="text" name="{{ field_name }}" value="{{ field_value }}" class="form-control">
        {% if form.errors.get(field_name) %}
        <p style="color: red;">{{ form.errors.get(field_name) }}</p>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro currency_box_2(form, field_label, field_name, field_value, autofocus=False) %}
<div class="col">
    <label for="{{ field_name }}" class="col-sm-2 col-form-label">{{ field_label }}</label>
    <input type="text" name="{{ field_name }}" value="{{ field_value }}" class="form-control currency">
    {% if form.errors.get(field_name) %}
    <p style="color: red;">{{ form.errors.get(field_name) }}</p>
    {% endif %}
</div>
{% endmacro %}


{% macro date_box(form, field_label, field_name, field_value, autofocus=False) %}
<div class="col">
    <label for="{{ field_name }}" class="form-label">{{ field_label }}</label>
    <input type="date" name="{{ field_name }}" value="{{ field_value }}" class="form-control" {% if autofocus %} autofocus {% endif %} {% if form.submitted %}readonly{% endif %}>
    {% if form.errors.get(field_name) %}
    <p class="text-danger">{{ form.errors.get(field_name) }}</p>
    {% endif %}
</div>
{% endmacro %}


{% macro text_box(form, field_label, field_name, field_value, autofocus=False) %}
<div class="col">
    <label for="{{ field_name }}" class="form-label">{{ field_label }}</label>
    <input type="text" name="{{ field_name }}" value="{{ field_value }}" class="form-control upper-case" {% if autofocus %} autofocus {% endif %} {% if form.submitted %} readonly {% else %} autocomplete="off" {% endif %}>
    {% if form.errors.get(field_name) %}
    <p class="text-danger">{{ form.errors.get(field_name) }}</p>
    {% endif %}    
</div>
{% endmacro %}


{% macro select_box(form, field_label, field_name, field_value, options, autosearch, autofocus=False) %}
<div class="col">
    <label for="{{ field_name }}" class="form-label">{{ field_label }}</label>
    <select id="{{ field_name }}" name="{{ field_name }}" class="form-select" {% if autofocus %} autofocus {% endif %} {% if form.submitted %} disabled {% endif %}>
        <option value="0"></option>
        {% for option in options %}
            {% if option['id'] == field_value %}
        <option value="{{ option['id'] }}" selected>{{ option['dropdown_name'] }}</option>
            {% else %}
        <option value="{{ option['id'] }}">{{ option['dropdown_name'] }}</option>
            {% endif %}       
        {% endfor %}
    </select>
    {% if form.errors.get(field_name) %}
    <p class="text-danger">{{ form.errors.get(field_name) }}</p>
    {% endif %}    
    <script>
    $(function() {
        $.ajax({
            url: '{{ url_for(autosearch) }}'
            }).done(function (data){
                $('#{{ field_name }}').autocomplete({
                    source: data,
                    minLength: 2
                });
            });
        });
</script>
</div>
{% endmacro %}


{% macro text_area(form, field_label, field_name, rows, field_value, autofocus=False) %}
<div class="col">
    <label for="{{ field_name }}" class="form-label">{{ field_label }}</label>
    <textarea 
        name="{{  field_name  }}" 
        rows="{{ rows }}" 
        class="form-control upper-case" {% if autofocus %} autofocus {% endif %} 
        {% if form.submitted %} readonly {% else %} autocomplete="off" {% endif %}
        >{{ field_value }}</textarea>
    {% if form.errors.get(field_name) %}
    <p class="text-danger">{{ form.errors.get(field_name) }}</p>
    {% endif %}    
</div>
{% endmacro %}


{% macro search_box(form, field_label, field_name, field_value, autofocus=False) %}
<div class="col">
    <label for="{{ field_name }}" class="form-label">{{ field_label }}</label>
    <input type="text" id="{{ field_name }}" name="{{ field_name }}" value="{{ field_value }}" 
    class="form-control upper-case ui-autocomplete-input" {% if autofocus %} autofocus {% endif %} 
    {% if form.submitted %} readonly {% else %} autocomplete="off" {% endif %} 
    spellcheck="false" data-ms-editor="true">
    {% if form.errors.get(field_name) %}
    <p class="text-danger">{{ form.errors.get(field_name) }}</p>
    {% endif %}    
</div>
{% endmacro %}