{% extends "base.html" %}
{% from "macros_simple_form.html" import text_box, text_area, save_button %}

{% block title %}Product{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit Product</h1>
    <form action="{{ url_for('product.edit', record_id=form.id) }}" method="post">
        <input type="number" name="record_id" value="{{ form.id }}" hidden>
        {% else %}
    <h1 class="mb-4">Add Product</h1>
    <form action="{{ url_for('product.add') }}" method="post">
        {% endif %}
    
        {{ text_box(form, "Product Name", "product_name", form.product_name, autofocus=True) }}

        {{  save_button() }}

    </form>
</div>
{% endblock %}