{% extends "base_login.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="mt-5"></h2>
            <form action="{{ url_for('user.change_password') }}" method="post" class="p-3 bg-beige">

                <div class="form-group">
                    <label for="user_name">Username</label>
                    <input type="text" class="form-control" name="user_name" id="user_name" placeholder="Enter your username" value="{{ form.user_name }}" autocomplete="off" autofocus>
                    {% if form.errors.get('user_name') %}
                    <span style="color: red;">{{ form.errors.get('user_name') }}</span>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="pass_word">New password</label>
                    <input type="password" class="form-control" name="pass_word" id="pass_word" placeholder="Enter new password" value="{{ form.pass_word }}" autocomplete="off">
                    {% if form.errors.get('pass_word') %}
                    <span style="color: red;">{{ form.errors.get('pass_word') }}</span>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="confirm_pass_word">Re-type password</label>
                    <input type="password" class="form-control" name="confirm_pass_word" id="confirm_pass_word" placeholder="Re-enter your password" value="{{ form.confirm_pass_word }}" autocomplete="off">
                    {% if form.errors.get('confirm_pass_word') %}
                    <span style="color: red;">{{ form.errors.get('confirm_pass_word') }}</span>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
<script>
    // Select input content on focus
    document.querySelectorAll('input[autofocus]').forEach(function(input) {
        input.addEventListener('focus', function() {
            this.select();
        });
    });
</script>
{% endblock %}

