<html>
<head>
    <title>Print Preview: OR Extra No. {{obj.record_number}}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/voucher.css')}}">
    <style>
        textarea {
            border: none;
            background-color: transparent;
            resize: none;
            overflow:hidden;
            outline: none;
        }
    </style>
    {% if not obj.submitted %}
    <style>
        body {
            color: red;
        }

        textarea {
            color: red;
        }
    </style>
    {% endif %}
</head>
<body>
<div class="container">
    <header>
        <div class="flex-row justify-center">
            <h2>{{ g.company_name }}</h2>
        </div>

        <div class="flex-row justify-center">
            <div class="flex-1"></div>
            <div class="flex-row flex-1 justify-center">
                <h4><u>RECEIPT VOUCHER</u></h4>
            </div>            
            <div class="flex-row flex-1 justify-center">
                <div class="flex-row justify-center align-center">
                    <label>No.</label>
                    <span><strong class="font-size-20">{{obj.record_number}} EX</strong></span>                    
                </div>
            </div>
        </div>
        
        <div class="flex-row justify-center">
            <div class="flex-row flex-3">
                <div class="flex-row flex-1 align-center">
                    <label>RECEIVED FROM: </label>                     
                </div>
                <div class="flex-row flex-3 align-center border-bottom">
                    <span class="flex-shrink">{{obj.customer.customer_name}}</span>                       
                </div>
            </div>
            <div class="flex-row flex-2">
                <div class="flex-row flex-1 justify-end">
                    <label>DATE: </label>                    
                </div>
                <div class="flex-row flex-2 justify-center border-bottom">
                    <span>{{obj.formatted_record_date}}</span>                    
                </div>
            </div>             
        </div>
        
        <div class="flex-row">
            <div class="flex-row flex-3">
                <div class="flex-row flex-1 align-center">
                                       
                </div>
                <div class="flex-row flex-3 align-center border-bottom">
                    <span class="flex-shrink"></span>                       
                </div>                
            </div>
            <div class="flex-row flex-2">
                <div class="flex-row flex-1 justify-end">
                    <label>Invoice No.: </label>                   
                </div>
                <div class="flex-row flex-2 justify-center border-bottom">
                    <span>{{obj.invoice_number}}</span>                    
                </div>
            </div>             
        </div>
    </header>
    <main class="flex-column justify-center bordered margin-top-10">  
        <div class="flex-row justify-center">
            <label class="flex-row flex-4 justify-center height-15 line-bordered border-bottom"><strong>ACCOUNT TITLE</strong></label>
            <label class="flex-row flex-1 justify-center height-15 line-bordered border-bottom"><strong>DEBIT</strong></label>
            <label class="flex-row flex-1 justify-center height-15 line-bordered border-bottom"><strong>CREDIT</strong></label>            
        </div>
        <div class="flex-column height-300">
        {% for entry in obj.receipt_extra_details %}
        <div class="flex-row justify-center">
            {% if entry.debit %}
            <label class="flex-row flex-4 justify-start"><span class="margin-left-10">{{entry.account.account_title}} {% if entry.side_note %}({{ entry.side_note }}){% endif %}</span></label>
            {% else %}
            <label class="flex-row flex-4 justify-start"><span class="margin-left-50">{{entry.account.account_title}} {% if entry.side_note %}({{ entry.side_note }}){% endif %}</span></label>
            {% endif %}
            <label class="flex-row flex-1 justify-end"><span class="margin-right-10">{% if entry.debit %}{{entry.formatted_debit}}{% endif %}</span></label>
            <label class="flex-row flex-1 justify-end"><span class="margin-right-10">{% if entry.credit %}{{entry.formatted_credit}}{% endif %}</span></label>     
        </div>
        {% endfor %} 
        </div>
    </main>

    <footer class="flex-column">
        <div class="flex-column line-bordered border-bottom height-100">
            <span class="margin-left-10">P A R T I C U L A R S:</span>
            <textarea class="margin-left-50 margin-right-10" cols="30" rows="4">{{obj.description}}</textarea>
        </div>
        <div class="flex-column">
            <div class="flex-row justify-center">
                <div class="flex-row flex-1 height-50">
                    <label class="flex-row flex-3 align-end">Prepared by:</label>
                    <span class="flex-row flex-3 justify-center border-bottom align-end">{{ obj.prepared_by }}</span>
                </div>
                <div class="flex-row flex-1 height-50">
                    <label class="flex-row flex-3 align-end">Checked by:</label>
                    <span class="flex-row flex-3 justify-center border-bottom align-end">{{ obj.checked_by }}</span>
                </div>
                <div class="flex-row flex-1 height-50">
                    <label class="flex-row flex-3 align-end">Approved by:</label>
                    <span class="flex-row flex-3 justify-center border-bottom align-end">{{ obj.approved_by }}</span>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>