{% extends "base.html" %}
{% block title %}Sales{% endblock %}

{% block styles %}
    <style>
        table {font-size: 11px;}
    </style>
    <style>
        .small-button {
            font-size: 11px;
            padding: 2px 6px; /* Optional: Adjusts button size to match smaller font */
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Daily Sales Record</h1>
    <button class="btn btn-warning btn-sm" onclick="window.open('{{ url_for('daily_sales.daily_report') }}', '_blank', 'width=1200,height=700,scrollbars=yes,resizable=yes')">View Daily Sales Report</button>
{% endblock %}
